---
layout: event
title: "Antologi Sajak Sunda Mulang"
---


<nav class="nav-extended" style="background-color: darkred;">
    <div class="nav-background" style="opacity: 0.7">
      <div class="pattern active" style="background-image: url('https://i.postimg.cc/CxQBYfCH/slashbg.png');"></div>
    </div>
    <div style="display: none;">
      <div id="player"></div>
    </div>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo font-style">Mahaputera.art</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="https://mahaputera.art">Home</a></li>
          <li><a href="https://mahaputera.art/blog">Blog</a></li>
          <li><a href="https://mahaputera.art/archive">Archive</a></li>
          <li><a href="https://painting.mahaputera.art">Lukisan</a></li>
          <li><a href="https://poetry.mahaputera.art">Puisi</a></li>
          <li class="active"><a href="https://event.mahaputera.art">Event</a></li>
          <!-- <li><a href="https://photo.mahaputera.art">Photo</a></li>
          <li><a href="https://market.mahaputera.art">Market</a></li> -->
      </ul>

      <div class="nav-header center font-style">
        <h1>Antologi Sajak Sunda "Mulang"</h1>
        <div class="tagline">Miara sareng ngamumule basa Sunda langkung daria.</div>
      </div>
    </div>

    <div class="categories-wrapper darkred lighten-1">
      <div class="categories-container">
        <ul class="categories container">
          <li class="active"><a href="#all">All</a></li>
          <li><a href="#C">C</a></li>
          <li><a href="#N">N</a></li>
          <li><a href="#S">S</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="side-nav" id="nav-mobile">
      <li>
        <a href="https://mahaputera.art"><i class="material-icons">dashboard</i>Home</a>
      </li>
      <li>
        <a href="https://mahaputera.art/blog"><i class="material-icons">article</i>Blog</a>
      </li>
      <li>
        <a href="https://mahaputera.art/archive"><i class="material-icons">event</i>Archive</a>
      </li>
      <li>
        <a href="https://poetry.mahaputera.art"><i class="material-icons">article</i> Puisi</a>
      </li>
      <li>
          <a href="https://painting.mahaputera.art"><i class="material-icons">palette</i> Lukisan</a>
      </li>
      <li class="active">
        <a href="https://event.mahaputera.art"><i class="material-icons">palette</i> Event</a>
      </li>
      <!-- <li>
          <a href="https://photo.mahaputera.art"><i class="material-icons">camera_alt</i> Photo</a>
      </li>
      <li>
          <a href="https://market.mahaputera.art"><i class="material-icons">local_mall</i> Market</a>
      </li> -->
  </ul>

<!-- Gallery -->
<div id="portfolio" class="section grey darken-2">
  <div class="container">
    <div class="gallery row">
      <div id="randomness">
        {% for post in site.posts %}
          {% if post.path contains 'event-1-antologi-mulang' %}
            <div id="{{ post.id_post }}-{{ post.slug }}" class="col l4 m6 s12 gallery-item gallery-expand gallery-filter {{ post.indexing }}">
                <div class="gallery-curve-wrapper">
                <div class="gallery-header">
                    <h5>{{ post.title }}</h5>
                    <p class="caption">
                        {{ post.author }}
                    </p>
                </div>
                <div class="gallery-body" style="margin-top: 100px; padding: 20px;">
                    <div class="title-wrapper">
                    <h3>{{ post.title }}</h3>
                    </div>
                    <div class="description">
                    {{ post.content }}
                    </div>
                    <p class="description">
                    {{ post.author }}
                    </p>
                    <!-- <p class="description">
                    {% include date.html date=post.date %}
                    </p> -->
                </div>
                <div class="gallery-action" style="margin-top: 40px;">
                    <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                </div>
                </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <script>
        var div = document.querySelector('#randomness');
        for (var i = div.children.length; i >= 0; i--) {
            div.appendChild(div.children[Math.random() * i | 0]);
        }
      </script>
    </div>

  </div>

</div><!-- /.container -->