---
layout: default
title: "Event Seni"
---

<!-- Gallery -->
<div id="portfolio" class="section grey darken-2">
  <div class="container">
    <div class="gallery row">
      <div id="randomness">
        {% for post in site.posts %}
          {% if post.path contains 'main' %}
            <div id="{{ post.id_post }}-{{ post.slug }}" class="col l4 m6 s12 gallery-item gallery-expand gallery-filter {{ post.categories }}">
              <div class="gallery-curve-wrapper">
                <a class="gallery-cover gray">
                  <img class="responsive-img" src="{{ post.image }}" alt="placeholder" crossOrigin="anonymous">
                </a>
                <div class="gallery-header">
                  <span>{{ post.title }}</span>
                  <a href="{{ site.url }}{{ site.baseurl }}{{ post.link }}" class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Antologi</a>
                </div>
                <div class="gallery-body">
                  <div class="title-wrapper">
                    <h5>{{ post.title }}</h5>
                    <span class="price">{% include date.html date=post.date %}</span>
                  </div>
                  <div class="description">
                    {{ post.content }}
                  </div>
                  <!-- <p class="description">
                    {% include date.html date=post.date %}
                  </p> -->
                </div>
                <div class="gallery-action">
                  <a href="{{ site.url }}{{ site.baseurl }}{{ post.link }}" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">exit_to_app</i></a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <script>
        var div = document.querySelector('#randomness');
        for (var i = div.children.length; i >= 0; i--) {
            div.appendChild(div.children[Math.random() * i | 0]);
        }
      </script>
    </div>

  </div>

</div><!-- /.container -->